# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test Build Methods

on:
  push:
  pull_request: 
    types: [master]

jobs:
  build-and-test-env:
    runs-on: ubuntu-latest
    container: 
      image: ubuntu:latest
    steps:
    - uses: actions/checkout@v2
    - uses: iterative/setup-dvc@v1
    - name: Run build and test scripts
      run: bash scripts/run-all-tests.sh
